:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-grey: #dbe1e8;
}

body {
  padding-top: 75px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

h1 {
  font-weight: 700;
  margin-bottom: 0;
}

nav {
  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 150%
  );
}

.btn-outline-light {
  --bs-btn-color: var(--color-grey);
}

.card {
  --bs-card-color: var(--color-grey);
  --bs-card-title-spacer-y: 1rem;
}

.hidden {
  display: none;
}

.modal {
  --bs-modal-width: 300px;
  --bs-modal-color: var(--color-grey);
  --bs-modal-bg: var(--bs-dark);
  --bs-modal-header-border-color: var(--color-grey);
  --bs-modal-footer-border-color: var(--color-grey);
}

/* ===============================================================================
 === Loader
 =============================================================================== */

.loader {
  position: fixed;
  z-index: 2000;
  top: 80px;
  left: auto;
  right: auto;
  border: 5px solid var(--color-secondary);
  border-top: 5px solid var(--color-grey);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===============================================================================
 === Alert
 =============================================================================== */
#liveAlertPlaceholder {
  position: fixed;
  top: 80px;
  left: 350px;
  right: 350px;
  z-index: 2;
}
